*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    padding: 20px;
}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid #000;
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-flow: row wrap;
    align-content: space-evenly;
}
.box{
    background-color: #000;
    color: whitesmoke;
    width: 100px;
    height: 100px;
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink:1 ;
    flex-basis: 200px;
 }
 .box:nth-child(2){
   order: -1;
    flex-grow: 2;
 }
