*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 2rem;
    font-family: cursive;
}
.columns{
    column-count: 4;
    column-width: 250px;
    column-rule: 3px solid #333;
    column-gap: 3rem;
}
.columns h2{
    background-color: #333;
    color: whitesmoke;
    padding: 1rem;
    break-inside: avoid;
    break-before: column;
}
.columns .quote{
    margin: 10px;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
.nowrap{
    white-space: nowrap;
}