*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    font-family: cursive;
    min-height: 200vh;
}
section{
    height: 100vh;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
header,footer{
    color: #fff;
    text-align: center;
    height: 7rem;
}
header{
    position: sticky;
    top: 0;
    font-size: 5rem;
}